<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Product List</h2>
    </div>
    <table [hidden] = "isShow" id="products">
      <tr>
        <th>ID</th>
        <th>Code</th>
        <th>Amount</th>
        <th>Price</th>
        <th></th>
      </tr>
      <tr *ngFor="let product of products | async">
        <td>{{product.id}}</td>
        <td>{{product.code}}</td>
        <td>{{product.amount}}</td>
        <td>{{product.price}}</td>
        <td><button (click)="deleteProduct(product.id)" class="btn btn-danger">Delete</button>
          <button (click)="productUpdate(product.id)" class="btn btn-info" style="margin-left: 10px">Update</button>
            <button (click)="productDetails(product.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
        </td>
      </tr>
  </table>
</div>