#products {
    border-collapse: collapse;
    width: 88%;
    margin: 0 auto;
    overflow: hidden;
  }
  
  #products td, #products th {
    padding: 8px;
    text-align: center;
  }
  
  #products tr:nth-child(even){background-color: #f2f2f2;}
  
  #products tr:hover {background-color: #ddd;}
  
  #products th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #28282b;
    color: white;
  }
  h2 {
    padding-top: 3rem;
    padding-left: 5rem;
}